language: python
python:
  - "3.9"

branches:
  only:
    - main

services:
  - docker

install:
  - pip --version

before_script: 
  - pip install docker-compose

script:
  - docker-compose -f podman-compose.yml up -d
  - docker-compose -f podman-compose.yml run --rm app sh -c "python manage.py test && flake8"
